* {
font-family: Helvetica, Arial, sans-serif

}


body {
  padding: 60px;

  
}

input{
color:grey;
font-size: 1.2rem;
width: 100%;

}
.card-grid{
display: grid;
flex-direction: column;
flex-wrap: wrap;
}
.card{
align-content: initial;
border: 5px solid grey;
border-radius: 5px;
overflow: hidden;
margin-bottom: 5px;
margin-right: 5px;

}

.card p{
 
  padding: 5px;
  text-align: justify;

}

.card img {
max-height: 300px;

}